<h2 mat-dialog-title>Gestion des routes</h2>
<mat-dialog-content class="w-full h-full">
  <app-routes-tables></app-routes-tables>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end">
  <button mat-button mat-dialog-close="true">Fermer</button>
</mat-dialog-actions>
