.marker {
  border : solid black 2px ;
  color: black;
  width: 32px;
  height: 32px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  transform: rotate(-45deg);
}
