<div style="height: 100%"
     leaflet
     [leafletOptions]="options"
     [leafletLayers]="layers"
     (leafletMapReady)="onMapReady($event)"
>
  <div style="display: none">
    <button #buttonOpenDrawer mat-raised-button (click)="sidenavService.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div #ButtonsZoom class="buttons-zoom">
      <div class="button-zoom" (click)="this.map?.zoomIn()" mat-ripple>
        <mat-icon inline>add</mat-icon>
      </div>
      <mat-divider></mat-divider>
      <div class="button-zoom" (click)="this.map?.zoomOut()" mat-ripple>
        <mat-icon inline>remove</mat-icon>
      </div>
    </div>

    <div #logo class="w-32">
      <img alt="logo" width="100%" src="./assets/logo.svg">
    </div>
  </div>
</div>

<div style="display: none;">
  <app-marker *ngFor="let route of routes" [id]="generateHTMLid(route.routeId)" [shortName]="route.routeShortName"
              [color]="route.routeColor" [colorText]="route.routeTextColor" [routeTypeId]="route.routeType"></app-marker>
  <app-marker-user-position id="userPositionMarker"></app-marker-user-position>
  <app-marker-departure id="markerDeparture"></app-marker-departure>
  <app-marker-arrival id="markerArrival"></app-marker-arrival>
</div>
