#map {
    width: 100%;
    height: 100%;
}

.buttons-zoom {
  background-color: #424242;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.button-zoom {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
}
