<div>
  <div>
    <mat-form-field class="w-full" appearance="fill" color="accent">
      <mat-icon color="accent" matPrefix>flag</mat-icon>
      <mat-label>Point de départ</mat-label>
      <input matInput [formControl]="departureControl" placeholder="Choisissez un point de départ" [matAutocomplete]="autoDeparture">
      <mat-autocomplete autoActiveFirstOption #autoDeparture="matAutocomplete" [displayWith]="displayAddress" (optionSelected)="onDepartureSelected($event)">
        <mat-option *ngIf="userPositionService.isUserPositionAccepted()" [value]="userPositionService.getUserPositionGeoJSON()">
          <mat-icon color="accent">my_location</mat-icon>
          <span>Ma position</span>
        </mat-option>
        <mat-option *ngFor="let option of filteredOptionsDeparture | async" [value]="option">
          {{option.properties.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-full" appearance="fill" color="accent">
      <mat-icon color="accent" matPrefix>sports_score</mat-icon>
      <mat-label>Destination</mat-label>
      <input matInput [formControl]="arrivalControl" placeholder="Choisissez une destination" [matAutocomplete]="autoArrival">
      <mat-autocomplete autoActiveFirstOption #autoArrival="matAutocomplete" [displayWith]="displayAddress" (optionSelected)="onArrivalSelected($event)">
        <mat-option *ngIf="userPositionService.isUserPositionAccepted()" [value]="userPositionService.getUserPositionGeoJSON()">
          <mat-icon color="accent">my_location</mat-icon>
          <span>Ma position</span>
        </mat-option>
        <mat-option *ngFor="let option of filteredOptionsArrival | async" [value]="option">
          {{option.properties.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
