<mat-drawer-container style="height: 100%">
  <mat-drawer class="w-3/12 p-5 w-[550px] max-w-full" #drawer mode="over">
    <div class="flex flex-col h-full w-full">
      <div>
        <app-departure-arrival></app-departure-arrival>
        <mat-divider class="w-full mb-2"></mat-divider>
      </div>
      <div class="w-full h-full overflow-y-auto overflow-x-hidden">
        <app-itinerary></app-itinerary>
      </div>
      <div [style]="{'margin-top': 'auto'}">
        <mat-divider class="w-full mt-2 mb-4"></mat-divider>
        <button mat-stroked-button color="accent" class="w-full" (click)="openModal()">
          <mat-icon>alt_route</mat-icon>
          <span class="ml-1">Gestion des routes</span>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-maps></app-maps>
  </mat-drawer-content>
</mat-drawer-container>
