<div class="marker" [ngStyle]="{'background-color' : color}">
  <mat-icon class="logo" [ngStyle]="{'color' : colorText}" [svgIcon]="routeTypesService.getIdSvgByRouteTypeId(routeTypeId)"></mat-icon>
</div>
