<div *ngIf="!inLoading; else loadingItinerary" class="h-full">
  <div *ngIf="!waitingItinerary; else waitItinerary" class="h-full">
    <div *ngIf="itinerary?.journeys!.length > 0; else noItinerary" class="h-full">
      <div class="sticky top-0 p-2 flex justify-between" [ngStyle]="{'background': '#424242'}">
        <div class="flex items-center" matTooltip="Durée" matTooltipPosition="above">
          <mat-icon class="m-2">timer</mat-icon>
          <span>{{ journey?.duration | duration:'s':'hhmm' }}</span>
        </div>
        <div class="flex items-center" matTooltip="Date d'arrivée" matTooltipPosition="above">
          <span>{{ journey?.arrival_date_time | date:'short' }}</span>
          <mat-icon class="m-2">sports_score</mat-icon>
        </div>
      </div>
      <div class="">
        <div *ngFor="let section of journey?.sections">
          <div class="flex p-2 w-full">
            <div class="flex items-center justify-center p-2 max-w-[60px] min-w-[60px]">
              <div *ngIf="section.type === SectionType.WALKING_STREET" matTooltip="Marche à pied">
                <mat-icon>directions_walk</mat-icon>
              </div>
              <div *ngIf="section.type === SectionType.TRANSFER" matTooltip="Correspondance">
                <mat-icon>transfer_within_a_station</mat-icon>
              </div>
              <div *ngIf="section.type === SectionType.WAITING" matTooltip="Attente...">
                <mat-icon>hourglass_top</mat-icon>
              </div>
              <div *ngIf="section.type === SectionType.PUBLIC_TRANSPORT" class="flex flex-col items-center justify-center w-full p-1" matTooltip="Transport">
                <mat-icon [svgIcon]="getSvgString(section)"></mat-icon>
                <div class="flex justify-center items-center mt-2 w-full rounded text-sm" [ngStyle]="{'background-color': '#' + section.display_informations.color, 'color': '#' + section.display_informations.text_color}">
                  {{ section.display_informations.code }}
                </div>
              </div>
            </div>
            <mat-divider vertical></mat-divider>
            <div class="flex flex-col p-4 w-full" *ngIf="section.type === SectionType.PUBLIC_TRANSPORT">
              <div class="flex flex-col justify-center items-center w-full" *ngIf="section.from.embedded_type === PlaceType.STOP_POINT && section.to.embedded_type === PlaceType.STOP_POINT">
                <span class="ext-ellipsis w-full text-center m-1">{{ section.from.stop_point.name }}</span>
                <mat-icon color="accent" class="m-1">arrow_downward</mat-icon>
                <span class="text-ellipsis w-full text-center m-1">{{ section.to.stop_point.name }}</span>
                <span class="text-ellipsis text-center p-1 font-bold italic" [ngStyle]="{'color': '#' + section.display_informations.color}">{{ section.display_informations.direction }}</span>
              </div>
            </div>
            <div class="flex flex-col m-4 w-full" *ngIf="section.type === SectionType.WALKING_STREET">
              <div class="flex flex-col justify-center items-center w-full">
                <span *ngIf="section.from.embedded_type === PlaceType.STOP_POINT; else noStopPointWalkingFrom" class="ext-ellipsis w-full text-center m-1">{{ section.from.stop_point.name }}</span>
                <mat-icon color="accent" class="m-1">arrow_downward</mat-icon>
                <span *ngIf="section.to.embedded_type === PlaceType.STOP_POINT; else noStopPointWalkingTo" class="ext-ellipsis w-full text-center m-1">{{ section.to.stop_point.name }}</span>
              </div>
              <ng-template #noStopPointWalkingTo>
                <span class="ext-ellipsis w-full text-center m-1">{{ section.to.name }}</span>
              </ng-template>
              <ng-template #noStopPointWalkingFrom>
                <span class="ext-ellipsis w-full text-center m-1">{{ section.from.name }}</span>
              </ng-template>
            </div>
            <div class="flex flex-col m-4 w-full" *ngIf="section.type === SectionType.TRANSFER">
              <div class="flex flex-col justify-center items-center w-full">
                <span *ngIf="section.from.embedded_type === PlaceType.STOP_POINT" class="ext-ellipsis w-full text-center m-1">{{ section.from.stop_point.name }}</span>
                <mat-icon color="accent" class="m-1">arrow_downward</mat-icon>
                <span *ngIf="section.to.embedded_type === PlaceType.STOP_POINT" class="ext-ellipsis w-full text-center m-1">{{ section.to.stop_point.name }}</span>
              </div>
            </div>
            <div class="flex flex-col m-4 w-full" *ngIf="section.type === SectionType.WAITING">
              <div class="flex justify-center items-center h-full">
                <span>Attente à l'arrêt</span>
              </div>
            </div>
            <mat-divider vertical></mat-divider>
            <div class="flex items-center justify-center p-4 w-20">
              <div class="flex items-center" matTooltip="Durée">
                <span>{{ section.duration | duration:'s':'hhmm'}}</span>
                <mat-icon class="m-2">timer</mat-icon>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingItinerary>
  <div class="flex justify-center items-center w-full h-full">
    <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
  </div>
</ng-template>

<ng-template #waitItinerary>
  <div class="flex justify-center items-center w-full h-full">
    <img alt="logo" width="w-32" src="./assets/logo.svg">
  </div>
</ng-template>

<ng-template #noItinerary>
  <div class="flex justify-center items-center w-full h-full">
    <h2>Aucun itinéraire trouvé !</h2>
  </div>
</ng-template>

