<div>
  <div>
    <form [formGroup]="formGroupFilter" class="flex justify-around">
      <mat-form-field color="accent">
        <mat-label>Type de la route</mat-label>
        <mat-select class="appearance-none" formControlName="routeType" multiple>
          <mat-option *ngFor="let routeType of routeTypes" [value]="routeType.routeTypeId">
            <div>
              <mat-icon [svgIcon]="routeType.idSvg"></mat-icon>
              <span>{{ routeType.routeTypeName }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Nom de la route...</mat-label>
        <input matInput formControlName="routeName">
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Nom de l'agence...</mat-label>
        <input type="text"
               placeholder="Nom de l'agence..."
               matInput
               formControlName="agencyName"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let agency of agenciesFiltered | async" [value]="agency.agencyName">
            {{ agency.agencyName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full" matSort matSortActive="selected" matSortDirection="desc">

    <ng-container matColumnDef="selected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="selected">Selected</th>
      <td mat-cell *matCellDef="let row; let element">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="onCheckboxChange($event, row)"
                      [checked]="element.selected">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="routeType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="routeType">Type</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex items-center">
          <mat-icon [svgIcon]="routeTypesService.getIdSvgByRouteTypeId(element.routeType)"></mat-icon>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="routeLongName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="routeLongName">Nom de la ligne</th>
      <td mat-cell *matCellDef="let element"> {{element.routeLongName}} </td>
    </ng-container>

    <ng-container matColumnDef="agencyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="agencyName">Agence</th>
      <td mat-cell *matCellDef="let element"> {{element.agencyName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons>
  </mat-paginator>
</div>


